/* scoresection */
* {
  padding: 0;
  margin: 0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score-div {
  max-width: 15vw;
  min-width: 15vw;
}

.score-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 15vh;
  }
  
  .score-txt{
    color:rgba(10, 6, 17, 0.4);
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 4px rgba(37, 16, 16, 0.5);
  }

  .score {
    padding: 10px;
    align-self: center;
    border-radius: 10px;
    font-weight: bolder;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    max-height: 10vh;
    max-width: 5vw;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
  }

  #player-score, #computer-score {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    min-width: 3vw;
    min-height: 8vh;
  }

  #start-game-btn {
    background-color: #127e7e;
    padding: 12px;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 17px 0px 0px #073b3b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.05s;
  }
  
  #start-game-btn:hover{
    background-color: #30c5c5;
  }

  #start-game-btn:active {
    transform: translateY(7px);
    box-shadow: 0px 10px 0px 0px #052c2c;
  }


  /* Computer choice section */
  .computer-selection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  #computer-choice {
    border: 3px solid red;
    min-width: 10vw;
    max-height: 15vh;
    min-height: 15vh;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* button section */
  .button-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  #rock-box,
  #paper-box,
  #scissors-box {
    display: inline-block;
  }
  
  .player-buttons {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7%;
  }

  .btn:hover {
    scale: 1.05;
    box-shadow: 3px, 3px, 5px rgba(0, 0, 0, 0.4);
  }
  
  .button-clicked {
  }
  
  /* message section */
  .message {
    text-align: center;
  }
  
  .message-div {
    margin-top: 10px;
    padding: 10px;
    font-size: 60px;
    font-weight: bolder;
  }

  /* Pop up */
  #pop-up-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    display: none;
  }

  #close-pop-up {
    position: fixed;
    top: 5%;
    right: 5%;
    background-color: black;
    color: white;
    font-size: 40px;
  }

  #pop-up-img {
    max-height: 80%;
  }

  